:root {
    --page-width:  calc(50vw);
    --page-height: calc(var(--page-width) * 8.5/11);

    /*
      The number of millimeters in the margin. This variable omits the unit so
      that it can be used with different levels of scaling.

      The number 279.4 is the number of millimeters in 11 inches.
    */
    --crease-margin-quantity: 1;
    --crease-margin-real:     calc(var(--crease-margin-quantity) * 1mm);
    --crease-margin:          calc(var(--crease-margin-quantity) * var(--page-width) / 279.4);
}

.spread {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:    100%;

  width: var(--page-width);
  height: var(--page-height);

  overflow:hidden;
  page-break-after: always;
  margin: 2rem 0;
  background: white;
  box-shadow: #00000088 2px 5px 5px;
}

.sheet > .spread {
  margin: 4px 0;
}

.sheet {
  margin: 2rem 0;
}

.spread > .spread-page {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.spread-page > img.single {
  width: calc(50% - var(--crease-margin));
  max-width: 50%;
}

.spread-page.spread-right > img.single {
  margin-left: calc(50% + var(--crease-margin));
}

.spread-page.spread-left > img.double {
  object-position: calc(-1 * var(--crease-margin));
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.spread-page.spread-right > img.double {
  object-position: calc(100% + var(--crease-margin));
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.spread-page > img {
  width: 100%;
  object-fit: contain;
  background: white;
}

.pages {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media print {
  /*
    If being printed, make sure pages are the correct size
  */

  :root {
      --page-width:  100vw;
      --page-height: 100vh;
      --crease-margin: calc(var(--crease-margin-real));
  }

  .spread {
    margin:            0;
    box-shadow:    unset;
    border-radius: unset;
  }

  .pages {
    display: block;
    background: white;
    overflow: visible;
  }
}
